* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    :root {
        --primary-color: #fc6f38;
        --secondary-color: #165a92;
        --tertiary-color: #c557b3;
      }
    body {
        font-family: Helvetica, Arial, sans-serif;
    }
    header {
        padding: 20px 35px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
        background-attachment: fixed;
        background-position: 20%;
        z-index: 9999;
    }
    header h1 {
        font-weight: bold;
        font-size: 40px; 
        margin: 0;
    }
    header a {
    }
    header nav {
        margin: 7px 0;
    }
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 1.55vw;
    }
    header nav ul li a:hover {
        background: rgb(45, 151, 86);
        border-radius: 15px;
        text-shadow: none;
    }
    .hero {
        background-image: url("../portfolio/Pictures/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg");
        background-size: cover;
        width: 100%;
        height: 350px;
        background-position: 80%;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
      }
      .vl {
          border-left: 5px solid rgb(34, 109, 53);
          height: 15px;
      }
      .hero-cta {
        width: 40%;
        text-align: right;
        margin: 3.5%;
        background-color: grey;
        color: white;
        font-size: 18px;
        line-height: 1.2;
      }
      .service-grid-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }
      .service-grid-container {
          display: grid; 
        background: rgb(255, 255, 255);
        grid-template-columns: 1fr repeat (1, 2fr);
        grid-template-rows: repeat(1, 1fr); 
        border: 2px solid var(--secondary-color);
        color: var(--secondary-color);
        font-size: 1.2rem;
        margin: 1.5%;
}
    .service-grid-item {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    